<h1>New appearance form</h1>

<%= form_for(@appearance) do |f| %>
<%= f.label :guest_id %>
<%= f.number_field :guest_id %>
<%= f.label :episode_id %>
<%= f.number_field :episode_id %>
<%= f.label :rating %>
<%= f.number_field :rating %>
<%= f.submit "Create Appearance" %>
<% end %>
